@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap");
.catalogo img {
  width: 150px;
  margin: 5px;
  padding: 10px;
  text-align: center; }

.catalogo h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600px; }

.producto {
  text-align: center;
  width: 1fr;
  flex: 1; }

.containerProductos {
  display: flex;
  flex-wrap: wrap; }

.produto__img:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.3); }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 45%;
  text-align: left; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.cuerpoCard {
  padding: 2px 16px;
  text-align: left; }

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%; }

main {
  min-height: 300px;
  text-align: center;
  padding: 20px; }
  main div {
    padding: 30px; }

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0; }

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold; }

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none; }

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #d6ac79;
  -webkit-box-shadow: 0 0 8px #d6ac79;
  box-shadow: 0 0 8px #d6ac79;
  border: 1px solid #d6ac79; }

.form-style-1 .field-divided {
  width: 49%; }

.form-style-1 .field-long {
  width: 100%; }

.form-style-1 .field-select {
  width: 100%; }

.form-style-1 .field-textarea {
  height: 100px; }

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
  background: #d6ac79;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff; }

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
  background: #d6ac79;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.form-style-1 .required {
  color: red; }

main {
  min-height: 300px;
  padding-left: 120px;
  padding-right: 120px; }

.main img {
  width: 300px; }

.main .banner {
  width: 1500px; }

.main h2 {
  text-align: center; }

.main .atrapasuenos {
  width: 100%;
  height: 100px; }

main p {
  margin: auto; }

.grid-padre {
  text-align: center;
  padding: 7px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "daycare overnight walks" ". drop-in ."; }

.medio img {
  width: 400px; }

.medio p {
  width: 300px; }

.medio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center; }

.letra {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace; }

main h3 {
  text-transform: uppercase; }

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

header {
  display: flex;
  align-items: center;
  flex-direction: column; }

header img {
  width: 300px;
  padding: 10px; }

header ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

header li {
  padding: 10px; }

a {
  color: #d6ac79;
  text-decoration: none; }

h3 {
  font-family: 'Roboto Condensed', sans-serif; }

table {
  margin: 0px; }

main h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace; }

.footer {
  grid-area: footer;
  background-color: #d6ac79; }

.redes {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .redes li {
    margin: 10px;
    color: #ffffff;
    font-size: 1.5rem; }

.footer__barra-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0px 30px; }
  .footer__barra-contacto ul {
    margin-bottom: 0;
    padding-left: 0; }
  .footer__barra-contacto a {
    text-align: center; }

table {
  border-top: 1px thin solid;
  border-bottom: 1px thin solid; }

table tr td {
  vertical-align: baseline;
  padding: 10px; }

.itemMenu:hover {
  font-weight: bold; }
