main {
    min-height: 300px;
    padding-left: 120px;
    padding-right: 120px;
}



.main img {
    width: 300px;
}

.main .banner {
    width: 1500px;
}

.main h2 {
    text-align: center;
}

.main .atrapasuenos {
    width: 100%;
    height: 100px;
}

.grid-padre {
    text-align: center;
    padding: 7px;
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "tapiz funda tapizs"
        "tapizc plumas tapizl";
    
}

.contenedortexto {
    display: flex;
    justify-content: center;
    margin: auto
}

.texto {
    max-width: 900px;
    text-align: center;
}



.texto p {
    margin-bottom: 20px;

}

@media (max-width:900px) {
    .grid-padre{
        display: flex;
        flex-direction: column;
    }
}