@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap');

@import 'catalogo';
@import 'contacto';
@import 'index';
@import 'quienessomos';
@import 'spreguntas';


//footer y header iguales para todos//
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 300px;
    padding: 10px;
}

header ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header li {
    padding: 10px;
}

a {
    color: rgb(214, 172, 121);
    text-decoration: none;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    margin: 0px;
}

main h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Puddles', cursive;
    font-family: 'Source Code Pro', monospace;
}

.footer{
    grid-area: footer;
    background-color: rgb(214, 172, 121);
}
.redes{
    list-style-type:none;
      display:flex;
      flex-direction:row;
     justify-content: center;
     align-items: center;
         li{
             margin:10px;
             color:#ffffff;
             font-size: 1.5rem;
        }
 }

  .footer__barra-contacto{
     display:flex;
     flex-wrap: wrap;
    justify-content:space-between;
     align-items: center;
     color:#ffffff;
     margin:0px 30px;
         ul{
         margin-bottom: 0;
        padding-left: 0;
          }
         a{text-align: center;}
 }

//media queries
// @media (max-width:640px){
//     .footer__barra-contacto{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }
    
// }

table {
    border-top: 1px thin solid;
    border-bottom: 1px thin solid;
}

table tr td {
    vertical-align: baseline;
    padding: 10px;
}

.itemMenu:hover{
    font-weight: bold;
}
